@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1>Tradycje Świąteczne w Polsce</h1>
    <br>
    <p>
        Wigilia Bożego Narodzenia uznawana jest za najbardziej wyjątkową noc w roku. Dawniej przypisywano jej nawet znaczenie magiczne, czego
        dowodem są tradycje wigilijne, które kultywujemy do dzisiaj. Sprawdźmy więc co oznacza sianko pod obrusem, czy dodatkowe nakrycie przy
        wigilijnym stole.
    </p>
    <br>

    <h2>
        Dwanaście potraw
    </h2>
    <br>
    <img src="/zd/potrawy.jpg" alt="potrawy" />
    <br><br>
    <p>
        Tradycyjnie na wigilijnym stole powinno znaleźć się dwanaście potraw. Skąd wzięła się akurat taka liczba? Dawniej ilość spożywanych podczas
        Wigilii dań była nieparzysta. W zależności od zasobności portfela było ich siedem, dziewięć lub jedenaście. Poza tym wierzono, że takie liczby
        przyniosą szczęście na cały rok. Obecnie na naszych wigilijnych stołach stawiamy dwanaście potraw, które symbolizują apostołów.
    </p>
    <br>

    <h2>
        Siano pod wigilijnym obrusem
    </h2>
    <br>
    <img src="/zd/siano.jpg" alt="siano" />
    <br><br>
    <p>
        Kolejną polską tradycją wigilijną jest wkładanie sianka pod obrus, którym nakryto wigilijny stół. Symbolizuje ono betlejemską stajenkę,
        miejsce narodzin Jezusa. Chociaż powoli przestaje się tego pilnować, to dawniej nie wyobrażano sobie, aby na wigilijnym stole leżał obrus
        innego koloru niż biały. Jest to oczywiście symbol czystości Marii.

    </p>
    <br>



    <h2>
        Dodatkowe nakrycie przy wigilijnym stole
    </h2>
    <br>
    <img src="/zd/nakrycie_stolu.jpg" alt="nakrycie" />
    <br><br>
    <p>
        Wolne nakrycie przy stole to ważna tradycja wigilijna, która każe nam pamiętać o wszystkich samotnych osobach. Oznacza to także, że jesteśmy
        gotowi zaprosić do stołu każdego, kto w ten wieczór zapuka do naszych drzwi. Puste nakrycie daje również wyraz pamięci o bliskich, którzy
        nie mogli z nami spędzić świąt lub na zawsze odeszli.
    </p>

    <br>
    <h2>
        Dzielenie się opłatkiem
    </h2>
    <br>
    <img src="/zd/oplatek.jpg" alt="oplatek" />
    <br><br>
    <p>
        Do najważniejszych tradycji wigilijnych należy dzielenie się opłatkiem. Wbrew pozorom, nie chodzi tu jedynie o miły zwyczaj składania sobie
        życzeń. Opłatek jest symbolem pojednania i przebaczenia, a do wigilijnego stołu nie mogą zasiadać osoby, które są ze sobą skłócone.
        Niewielki z pozoru gest pokazuje, że ludzie darzą się uczuciem, nie żywią do siebie urazy i czują się ze sobą zjednoczeni.
    </p>


    <br>
    <p>
        Wigilijnemu opłatkowi przypisywano także magiczne właściwości. Miał chronić obejście przed wpływem złych mocy, a domownikom zapewniać
        szczęście. Podanie opłatka zwierzętom gospodarskim chroniło je przed chorobą i rzuconym urokiem. Do tego celu służył specjalnie wypiekany
        kolorowy opłatek.
    </p>
    <br>

    <h2>
        Ubieranie choinki
    </h2>
    <br>
    <p>
        W wielu domach choinkę ubiera się właśnie w Wigilię. Chociaż to bardzo powszechny zwyczaj, to nie należy do polskich tradycji wigilijnych.
        W naszym kraju przyjął się dopiero pod koniec dziewiętnastego wieku, ale jedynie w domach mieszczańskich i szlacheckich. W wiejskich domach,
        zamiast choinki ustawiano w domu snopy zboża lub gałązki drzewa.
    </p>
    <br>
    <img src="/zd/choinka.jpg" alt="choinka" />
    <br><br>
    <p>
        Przystrajanie choinki to zwyczaj niemiecki, swoimi korzeniami sięgający czasów pogańskich, symbolizuje nowe, odradzające się życie. Także
        ozdoby, które na niej zawieszamy mają konkretne znaczenie: gwiazda umieszczana na czubku oznacza gwiazdę betlejemską, bombki symbolizują
        rajskie owoce, a łańcuchy miały przypominać o grzechu i jednocześnie cementować rodzinne więzi.
    </p>
    <br>
</div>
