h1{
    text-align: center;
	font-size: 2.5em;
	border-bottom: solid 1px blue;
	margin-bottom: 30px;
}
div{
	margin: 20px;
}
input{
	width: 200px;
	border: blue 1px blue;
	border-radius: 3px;
}
imput[type="button"]{
	padding: 5px;
}
label{
	display: inline-block;
	width: 200px;
	text-align: right;
	padding-right: 5px;
}
#wynik{
	min-height: 30px;
	margin-left: 150px;
	width: 500px;
	border: solid 2px blue;
	border-radius: 10px;
	padding: 20px;
	box-shadow: 5px 5px 5px grey;
}
.success{
	color: green; font-weight: bolder;
}
.less{
	color: lightskyblue;
}
.more{
	color: maroon;
}
.error{
	color: red; font-weight: bold;}